<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" bootstrap="tests/bootstrap.php" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
    </report>
  </coverage>
  <testsuite name="httpful">
    <directory>tests</directory>
  </testsuite>
  <php>
    <const name="WEB_SERVER_HOST" value="localhost"/>
    <const name="WEB_SERVER_PORT" value="1349"/>
    <const name="WEB_SERVER_DOCROOT" value="./tests/static"/>
    <env name="http_proxy" value=""/>
  </php>
  <logging/>
</phpunit>
